.tabs-nav {
    display: flex;
}

.tab-content, .tab-item input{
  display: none;
}

.tabs-wrapper:has(#tab0-toggle:checked) #tab0-content{
  display: block;
}
.tabs-wrapper:has(#tab1-toggle:checked) #tab1-content{
  display: block;
}
.tabs-wrapper:has(#tab2-toggle:checked) #tab2-content{
  display: block;
}
.tabs-wrapper:has(#tab3-toggle:checked) #tab3-content{
  display: block;
}
.tabs-wrapper:has(#tab4-toggle:checked) #tab4-content{
  display: block;
}