/* dropdown menu for navbar */
.dd-wrapper {
  position: relative;
}

.dd-content {
  display: none;
}

.dd-toggle input {
  display: none;
}

.dd-wrapper:has(input.dd-toggle:checked) .dd-content {
  display: block;
}

/* sidebar specific dropdown styling */
li.dd-wrapper {
  margin: 12px;
}

/* settings specific dropdown styling */
.dd-wrapper:hover .dd-content.is-hoverable {
  display: block;
}

.dd-content.is-hoverable {
  position: absolute;
  top: auto;
  right: 0px;
  background-color: blueviolet;
  min-width: 220px;
  min-height: 150px;
  padding: 12px 16px;
}