@font-face {
  font-family: Chivo;
  src: url("../_assets/fonts/body/Chivo/Chivo-VariableFont_wght.ttf");
}
@font-face {
  font-family: Chivo;
}
@font-face {
  font-family: AudioNugget;
  src: url(../_assets/fonts/title/audio-nugget/AudioNugget.ttf);
}
@font-face {
  font-family: HomeVideo;
  src: url(../_assets/fonts/header/home-video/HomeVideo-Regular.otf);
}
@font-face {
  font-family: GoodLookingFont;
  src: url(../_assets/fonts/header/goodlookingfont/GoodLookingFont.otf);
}
@font-face {
  font-family: IBM-Plex-Mono;
  src: url(../_assets/fonts/body/IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
}
@font-face {
  font-family: FakeReceipt;
  src: url(../_assets/fonts/header/fake-receipt/FakeReceipt.otf);
}
html {
  font-size: 16px;
  background-color: #ece8d8;
}
body {
  overflow-x: clip;
}
p,
a,
h5,
button,
li,
td,
th {
  font-family: Chivo;
  font-weight: 300;
}
h1 {
  font-family: AudioNugget;
}
h2 {
  font-family: GoodLookingFont;
  font-size: 1.6rem;
}
h3 {
  font-family: HomeVideo;
  font-size: 0.9rem;
}
h4,
summary {
  font-family: HomeVideo;
}
.topbar {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}
.topbar-item {
  margin: 10px;
}
.left {
  min-width: 160px;
}

/* settings specific dropdown styling */
.topbar-item details {
  position: relative;
}
.details-content {
  position: absolute;
  top: auto;
  right: 0px;
  min-height: 150px;
  padding: 12px 16px;
}

#home {
  flex: 1;
  font-family: HomeVideo;
  font-size: 1.2rem;
}
.path a,
.path div {
  margin: 0 10px;
  color: #5e6d8a;
}
#nav-checkbox {
  display: none;
}
footer {
  text-align: center;
  padding: 0 0 10vw 0;
}
.nav-icon {
  display: none;
}
.topbar {
  background-color: #69849b;
}
.topbar a,
.topbar summary {
  font-family: Chivo;
  color: #ece8d8;
}
header {
  width: 75%;
  margin: auto;
}
header hr {
  background-color: #95a561;
  height: 12px;
  width: 100%;
  margin: 4px auto;
}
#titlebar {
  height: 80px;
  background-color: #698458;
  text-align: center;
  border-radius: 0 32px 0 32px;
}
#titlebar h1 {
  font-size: 60px;
  color: #ddd4a8;
}
.notched-header {
  background-color: #69849b;
  display: inline-flex;
}
.left h3 {
  padding: 0 0 2px 6px;
  color: #bfcdce;
  margin: 0;
}
.notch-right {
  height: 100%;
}
.notch-right:before {
  content: "";
  position: absolute;
  border-top: 24px solid transparent;
  border-left: 24px solid #69849b;
}
#sidebar {
  background-color: #69849b;
  box-shadow: 3px 3px #5e6d8a;
  padding-bottom: 12px;
}
#sidebar summary {
  margin: 8px;
  padding: 4px;
  color: #1f3974;
  background-color: #bfcdce;
}
#sidebar details {
  overflow-x: hidden;
}
#sidebar a {
  padding-left: 12px;
  color: #ece8d8;
  background-color: transparent;
}
#sidebar li:hover {
  margin: 0 4px;
  border-radius: 4px;
  background-color: #4a5979d0;
}
#sidebar summary:hover {
  color: #5e6d8a;
}
#greeter {
  background-color: #ddd4a8;
  box-shadow: 3px 3px #b6a688;
  padding: 0 8px;
  min-height: 220px;
}
#greeter p,
#greeter ul {
  color: #342929;
}
#greeter img {
  float: right;
  margin: 4px;
}
#greeter h2 {
  color: #342929;
  border-bottom: 2px dotted #342929;
}
#greeter h3 {
  color: #698458;
  text-align: right;
}
#greeter hr {
  background-color: inherit;
  height: 4px;
  margin: 4px 0;
  border-top: 1px solid #342929;
  border-bottom: 1px solid #342929;
}
.bcrumbs {
  text-align: center;
  margin: 10px auto 20px;
}
.bcrumbs li {
  display: inline-block;
  background-color: #69849b;
  min-width: 80px;
  padding: 5px;
  margin: 4px;
  box-shadow: 2px 2px #5e6d8a;
}
.bcrumbs li:hover {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0;
  background-color: #5e6d8a;
}
.bcrumbs a {
  font-family: IBM-Plex-Mono;
  font-size: 0.9rem;
  color: #ece8d8;
}
#todo {
  background-color: #9bbdbc;
  box-shadow: 3px 3px #849ba5;
}
#changelog {
  background-color: #95a561;
  box-shadow: 3px 3px #738650;
}
#changelog,
#todo {
  margin: 0 5px;
  height: 260px;
  display: flex;
  flex-direction: column;
}
#todo .heading,
#changelog .heading {
  position: sticky;
  top: 0;
  padding: 5px;
}
#changelog .scrollbox,
#todo .scrollbox {
  height: 100%;
  margin-top: 8px;
  overflow-y: scroll;
}
#changelog .heading {
  background-color: #698458;
}
#todo .heading {
  background-color: #69849b;
}
#changelog .scrollbox {
  scrollbar-color: #698458;
}
#todo .scrollbox {
  background-color: #ece8d8;
  scrollbar-color: #69849b;
  color: #69849b;
  padding: 6px;
}
#changelog h4,
#todo h4 {
  color: #ece8d8;
}
#changelog .log-wrapper {
  padding: 10px;
  background-color: #c2cb74;
}
.log-wrapper article {
  background-color: #ece8d8;
  margin: 0 auto 8px auto;
  padding: 6px;
}
.log-header {
  color: #698458;
  display: flex;
  justify-content: space-between;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-bottom-color: #c2cb74;
}
.log-wrapper p {
  color: #698458;
}
.right {
  display: flex;
  flex-direction: column;
}
#guestbook,
#link-back {
  padding: 8px;
}
#webrings {
  color: #16184d;
}
#guestbook {
  background-color: #9bbdbc;
  box-shadow: 3px 3px #849ba5;
  margin-bottom: 12px;
}
#guestbook p {
  color: #69849b;
  margin: 4px 0;
  padding: 0 4px;
  background-color: #ece8d8;
}
#guestbook h4 {
  background-color: #69849b;
  color: #ece8d8;
  padding: 4px;
}
#guestbook a {
  color: #69849b;
}
#guestbook a:hover {
  color: #1f3974;
}
#link-back {
  background-color: #69849b;
  box-shadow: 3px 3px #5e6d8a;
}
#link-back h4 {
  background-color: #bfcdce;
  color: #1f3974;
  padding: 4px;
}
#link-back summary {
  color: #ece8d8;
}
.button-wrapper {
  position: relative;
  width: 100%;
  margin: 8px auto 0 auto;
}
.button-wrapper button {
  display: inline-block;
}
#contact {
  padding: 8px;
  text-align: left;
}
#contact a,
#contact h4,
#contact p {
  color: #342929;
  font-weight: 300;
}
#contact a:hover {
  color: #64574e;
}
#contact img {
  vertical-align: middle;
  opacity: 0.8;
}
footer p {
  color: #738650;
}
footer a {
  color: #95a561;
}

/* styling for mobile devices */
@media (max-width: 769px) {
  .is-hidden-touch {
    display: none;
  }
  .grid-links {
    display: grid;
    grid-template: "side main" "footer footer";
    gap: 10px;
  }

  .nav-icon {
    display: block;
    margin: 1rem;
    text-align: end;
  }
  .nav-icon:hover span {
    color: #1f3974;
    cursor: pointer;
  }

  .left {
    position: absolute;
    top: -120px;
    right: 0;
    width: 200px;
    height: auto;
    z-index: 9;
  }
  #sidebar {
    min-height: auto;
  }
  aside.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #guestbook {
    margin-right: 10px;
  }
  #guestbook p {
    height: 70%;
  }

  .left {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      display 0.3s allow-discrete;
  }
  .sitebox:has(#nav-checkbox:not(:checked)) .left {
    opacity: 0;
    transform: translateY(-8px);
    display: none;
  }
  @starting-style {
    .sitebox:has(#nav-checkbox:checked) .left {
      opacity: 0;
      transform: translateY(-8px);
      display: block;
    }
  }

  #guestbook {
    grid-area: footer;
  }
}
@media (max-width: 580px) {
  header {
    width: 100%;
    padding: 12px;
    margin: auto;
  }
  #titlebar {
    line-height: 80px;
  }
  #titlebar h1 {
    font-size: 12vw;
  }
}
